* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
  }
  
  /* Background video */
  .video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Content container */
  .content {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Main title */
  .content h1 {
    font-size: 8vw;
    color: #fff;
    margin-bottom: 2rem;
  }
  
  /* Button */
  .content a {
    font-size: 2.5vw;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 1.5rem 3rem;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  
  
  
  /* Search bar container */
  .conta {
    position: absolute;
    top: 30%; /* set the top value to 20% */
    right: 25%;
    width: 100%;
    min-height: 20px;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Search bar */
  .search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(215, 206, 206, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
  }
  
  
  @media screen and (max-width: 1700px) {
    /* Adjust search bar width */
    .search-bar {
      max-width: 100%;
      position: relative;
      top: 0;
      right: 0;
      margin-top: 2rem;
    }
    
    /* Adjust input field padding */
    .search-bar input {
      padding: 12px 8px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
  
    /* Main title */
    .content h1 {
      font-size: 5vw;
    }
    /* Button */
    .content a {
      font-size: 1.5vw;
      padding: 1rem 2rem;
    }
  }
  .material-icons {
    font-size: 1.9rem;
    color: #fff;
  }